.login-button-container {
    display: flex;
    padding: 0px !important;
    align-items: center;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17),
      0px 0px 1px 0px rgba(0, 0, 0, 0.08) !important;
    justify-content: center;
    display: flex;
    gap: 20px;
    width: 80%;
    cursor: pointer;
    text-transform: unset !important;
  }

  #login-button-title {
    text-align: center;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    margin: 0.6rem;
  }
  